*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body{
    color: #800080;
    color: #8a2be2;
    color: #9932cc;
    color: #0000ff;
}